.app {
  text-align: center;
}

.nav-bar {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: aqua;
  height: 52px;
}
.nav-link {
  display: flex;
  flex-direction: row;
}
.nav-item {
  list-style-type: none;
  margin: auto 20px;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  border: 1px solid transparent;
  color: black;
  background: rgba(217, 255, 0, 0.701);
  padding: 15px 5px;
}
